<html>
    <head>
        <style>
            body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>

        <h1>Maven Test Build Deploy</h1>
        <br/>
        <h2>메이븐 테스트 시작</h2>

        <h2>1. 첫번째 테스트</h2>
        localhost:8080/api/hello 에 GET 요청
        hello 응답 반환히 테스트 성공

        <h2>2. 두번째 테스트</h2>
        localhost:8080/api/bye 에 GET 요청
        bye 응답 반환히 테스트 성공

    </body>
</html>
